* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: #548687;
    text-align: center;
}
.container {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
h1 {
    margin-top: 30px;
    color: white;
    font-size: 50px;
}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}
#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #ffffc7;
    color:#1d3b3c ;
    border-radius: 1rem;
    border: none;
   position: fixed;
   bottom: 25px;
   transform: translate(-50% , -50%);
   border: 1px solid #1d3b3c;
   box-shadow: 0px 10px 20px rgba(0,0, 0, 0.3);
}
#msg {
    color: #ffffc7;
    font-size: 8vmin;
    margin-top: 10px;
}
.msg {
    height: 25vmin;
}
.hide {
    display: none;
}
@media (max-width: 600px) {
    #msg {
        margin: 0px;
    }
    #new-btn {
        padding: 0.2rem;
        font-size: 16px;
    }
}